*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.8421962535014006) 0%,
    rgba(5, 5, 22, 0.8562018557422969) 35%,
    rgba(0, 11, 13, 1) 100%
  );
  /* position: relative; */
}
.outter-box {
  width: 45rem;
  height: 50rem;

  border: 15px solid black;
  border-radius: 30%;
  border-top: gray 15px solid;
  border-left: gray 15px solid;
  background-color: rgb(76, 73, 73);
  margin: 5rem auto;
  rotate: 15deg;
  /* z-index: 0; */
  box-shadow: 150px 300px 200px -40px black;
}
.grid-box {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 5px solid black;
  border-radius: 40%;
  background-color: black;
  border-top: grey 5px solid;
  border-left: grey 5px solid;
  padding: 9px;
  gap: 15px;
}
.grid {
  border: 1px solid black;
  box-shadow: 0 0 30px 30px rgb(61, 56, 56) inset;
  background-color: #0e0e11;
  background-image: url("https://www.transparenttextures.com/patterns/binding-light.png");

  /* gap: 10px; */
}
.top-l {
  border-radius: 80% 5% 10% 5%;
  border-top: 5px solid red;
  border-left: 5px solid red;
  background-color: red;
}
.top-r {
  border-radius: 5% 80% 5% 10%;
  border-top: 5px solid blue;
  border-left: 5px solid blue;
  background-color: blue;
}
.bottom-l {
  border-radius: 5% 10% 5% 80%;
  border-top: 5px solid green;
  border-left: 5px solid green;
  background-color: green;
}
.bottom-r {
  border-radius: 10% 5% 80% 5%;
  border-top: 5px solid yellow;
  background-color: yellow;
  border-left: 5px solid yellow;
}

.controller {
  display: flex;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  margin-top: 2rem;
}
.power,
.start {
  rotate: 30deg;
  margin-top: -3rem;
  text-align: center;
}
.controller-btn {
  width: 20px;
  border-radius: 50%;
  height: 20px;
  background-color: red;
  margin-top: 10px;
}
.start {
  rotate: -30deg;
}
.score-light,
.high-score-light {
  margin-bottom: 10px;
  border: 1px solid red;
  height: 20px;
  background-color: rgb(103, 21, 21);
  background-image: url("https://www.transparenttextures.com/patterns/corrugation.png");
}
.player-light,
.cpu-light {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(129, 31, 31);
  /* margin-top: -2rem; */
  /* border: 2px solid; */
}
.player,
.cpu {
  margin-top: -1rem;
}
.simon {
  /* width: 100%; */
  text-align: center;
  margin-top: -2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  letter-spacing: 5px;
  /* display: block; */
  position: relative;
  right: -10px;
  font-weight: bolder;
  color: rgb(81, 26, 26);
}
.eric {
  text-align: right;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* color: red; */
  /* z-index: 100; */
  margin-top: -3rem;
  /* margin-left: 5rem; */
  padding-right: 2rem;
  letter-spacing: 5px;
  font-size: xx-large;
  /* margin-top: 30rem; */
}
.eric-text {
  text-shadow: 1px 1px rgb(255, 0, 13);
}
